body{
  background-color: #1d2d3c;
}

.container{
  width: 80%;
}

.card{
  border: none;
  background-color: #112030;
}

img{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 0px;
}

h5.card-title{
  margin-top: 20px;
  margin-bottom: 15px
}

h5, .year{
  font-size: 1.6rem;
}