body{
  background-color: #1d2d3c;
}

.container-fluid{
  width: 70%;
}

.container{
  width: 80%;
  height: calc(100vh - 100px);
}

.navbar{
  background-color: #06131f;
  height: 100px;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
}

.my_menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

img.logo{
  height: 70px;
  width: 70px;
}

.card{
  border: none;
  background-color: #112030;
  margin-top: 100px;
}

img.discs{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 0px;
}

h5.card-title{
  margin-top: 20px;
  margin-bottom: 15px
}

h5, .year{
  font-size: 1.6rem;
}

.addTask{
  margin-bottom: 50px;
}

.btn{
  color: white;
}

